@inject HttpClient HttpClient
@using Domain
@using Infrastructure.EF
@using System.Text
@using System.Text.Json
@using System.Net.Http
@model dynamic

@{
	ViewBag.Title = "Night Details";
}

<h2>@Model.Night.Title</h2>
@{
	var user = this.User;
	List<Person> players = Model.Night.Players;
	<span>@Model.Night.Organisator?.Email</span>
	<br/>
	<br/>

		if (@Model.Night.Organisator.Email == @User.Identity.Name)
		{
			<br/>
			<span>Own night</span>
		}
		else
		{
			if (players.FindAll(person => person.Email == @User.Identity.Name).Any())
			{
				<br/>
				<form method="post" asp-controller="Night" asp-action="LeaveNight">
					<input type="hidden" name="nightId" value="@Model.Night.Id"/>
					<button id="leaveNightBtn">Leave Night</button>
				</form>
			}
			else
			{
				<br/>
				<form method="post" asp-controller="Night" asp-action="JoinNight">
					<input type="hidden" name="nightId" value="@Model.Night.Id"/>
					<button id="joinNightBtn">Join Night</button>
				</form>
			}
		}
}