@using Domain
@model List<Night>

@{
	ViewBag.Title = "Search Nights";
}

<div class="row">
	<section id="filters" class="col-12 col-lg-3">
		<h3>
			Filters
		</h3>

		@{
			var filterModel = new GameNight2.Models.NightsFilterModel();
		}

		@{
			await Html.RenderPartialAsync("_FilterPartial", filterModel);
		}
	</section>
	<section id="nights" class="col-lg-9 row gx-2 gy-2">
		<h3>Nights</h3>
		@{
			if (Model == null || Model.Count == 0)
			{
				<h3>No nights found</h3>
			}
			else
			{
				foreach (Night night in Model)
				{
					<div class="col-lg-4">
						<div class="card">
							<img src="@night.ThumbnailUrl" class="card-img-top" alt="@night.Title Image">
							<div class="card-body">
								<h5 class="card-title">
									@night.Title
								</h5>
								<p class="card-text placeholder-wave">
									<span class="placeholder col-7"></span>
									<span class="placeholder col-4"></span>
									<span class="placeholder col-4"></span>
									<span class="placeholder col-6"></span>
									<span class="placeholder col-8"></span>
									@{
										if (@night.Players.Count == 0)
										{
											<span> 0 / @night.MaxPlayers </span>
										}
										else
										{
											<span> @night.Players.Count / @night.MaxPlayers </span>
										}
									}
								</p>
								<a asp-controller="Night" asp-action="NightDetails" class="btn btn-primary col-6" asp-route-id=@night.Id>More Info</a>
							</div>
						</div>
					</div>
				}
			}
		}
	</section>
</div>
