@using Domain
@model List<Night>

@{
	ViewBag.Title = "Search Nights";
}

<div class="row">
	<section id="filters" class="col-12 col-lg-3">
		<h3>
			Filters
		</h3>

		@{
			var filterModel = new GameNight2.Models.NightsFilterModel();
		}

		@{
			await Html.RenderPartialAsync("_FilterPartial", filterModel);
		}
	</section>
	<section id="nights" class="col-lg-9 row gx-2 gy-2">
		<h3>Nights</h3>
		@{
			if (Model == null || Model.Count == 0)
			{
				<h3>No nights found</h3>
			}
			else
			{
				foreach (Night night in Model)
				{
					<div class="card pe-0">
						<div class="row g-0">
							<div class="col-md-4 d-md-none">
								<div class="ratio ratio-16x9 h-100">
									<img src="@night.ThumbnailUrl" class="rounded" alt="@night.Title Image">
								</div>
							</div>
							<div class="col-md-8">
								<div class="card-body p-3">
									<h3 class="card-title">
										@night.Title
									</h3>
									<p class="card-text placeholder-wave">
										<span> Participants: @night.Players.Count / @night.MaxPlayers <i class="fa-solid fa-clipboard-user"></i></span><br />
										<span> Date: @night.DateTime.ToLocalTime().ToString("f") <i class="fa-solid fa-calendar"></i></span>
									</p>
									<a asp-controller="Night" asp-action="NightDetails" class="btn btn-primary" asp-route-id=@night.Id>More Info</a>
								</div>
							</div>
							<div class="col-md-4 d-none d-md-inline">
								<div class="ratio ratio-16x9 h-100">
									<img src="@night.ThumbnailUrl" class="rounded" alt="@night.Title Image">
								</div>
							</div>
						</div>
					</div>
				}
			}
		}
	</section>
</div>
