@inject HttpClient HttpClient
@using Domain
@using System.Net.Http
@using DomainServices
@using GameNight2.Models
@model dynamic

@inject IGameRepository _gameRepository;
@inject IAccountRepository _accountRepository;

@{
	ViewBag.Title = "Night Details";
}

<div class="row mb-3">
	<section class="col-8">
		<h2>@Model.Night.Title</h2>
		<h6>@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(@Model.Night.DateTime.ToString("f"))</h6>
		<h6>Address: @Model.Night.Organisator.Address.Street @Model.Night.Organisator.Address.HouseNumber, @Model.Night.Organisator.Address.City</h6>
		<p>
			@Model.Night.Description
		</p>

		@{
			List<Person> players = Model.Night.Players;

			if (@Model.Night.Organisator.Email == @User.Identity.Name)
			{
				<br />
				<form method="post" asp-controller="Night" asp-action="EditNight">
					<input type="hidden" name="nightId" value="@Model.Night.Id" />
					<button id="editNightBtn" class="btn btn-warning" disabled="@(players.Count > 0)"><i class="fa-solid fa-pencil pe-2"></i>Edit Night</button>
				</form>
			}
			else
			{
				if (players.FindAll(person => person.Email == @User.Identity.Name).Any())
				{
					<br />
					<form method="post" asp-controller="Night" asp-action="LeaveNight">
						<input type="hidden" name="nightId" value="@Model.Night.Id" />
						<button id="leaveNightBtn" class="btn btn-danger"><i class="fa-solid fa-right-from-bracket pe-2"></i>Leave Night</button>
					</form>
				}
				else
				{
					<br />
					var person = _accountRepository.getAccount(User.Identity.Name);
					List<Snack> snacks = Model.Night.Snacks;
					if (@Model.Night.TakeOwnSnacks && !snacks.Any(x => x.personId == person.Id))
					{
						<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addMealJoinModal">
							<i class="fa-solid fa-user-plus pe-2"></i>Join Night
						</button>
					}
					else if ((person.isAlcoholFree && !snacks.Any(x => x.isAlcoholFree)) || (person.isGlutenFree && !snacks.Any(x => x.isGlutenFree)) || (person.isLactoseFree && !snacks.Any(x => x.isLactoseFree)) || (person.isNutsFree && !snacks.Any(x => x.isNutsFree)) || (person.isVegan && !snacks.Any(x => x.isVegan)) || (person.isVegatarian && !snacks.Any(x => x.isVegatarian)))
					{
						<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmJoinModal">
							<i class="fa-solid fa-user-plus pe-2"></i>Join Night
						</button>
					}
					else
					{
						<form method="post" asp-controller="Night" asp-action="JoinNight">
							<input type="hidden" name="nightId" value="@Model.Night.Id" />
							<button id="joinNightBtn" class="btn btn-success"><i class="fa-solid fa-user-plus pe-2"></i>Join Night</button>
						</form>
					}
				}
			}
		}
		<div class="modal fade" id="confirmJoinModal" tabindex="-1" aria-labelledby="confirmJoinModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="confirmJoinModalLabel">Confirm Participation</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>It looks like there won't be any snacks that will fit your snack preferences. Are you sure you want to join this night?</p>
						<form method="post" asp-controller="Night" asp-action="JoinNight">
							<input type="hidden" name="nightId" value="@Model.Night.Id" />
							<button id="joinNightBtn" class="btn btn-succes"><i class="fa-solid fa-user-plus pe-2"></i>Join Night</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addMealJoinModal" tabindex="-1" aria-labelledby="addMealJoinModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="addMealJoinModalLabel">Confirm Participation</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>The host of this night wants every attendee to bring his own snack and you haven't submitted any snack yet.</p>
						<button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addSnackModal">
							<i class="fa-solid fa-plus pe-2"></i>Add Snack
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="col-4">
		<div class="row">
			<div class="col-8">
				<h3>Host: @Model.Night.Organisator.RealName</h3>
				<span>Age: @(DateTime.Now.Year - Model.Night.Organisator.BirthDate.Year)</span>
				<br />
				<span>Rating: 3.5<i class="fa-solid fa-star text-warning"></i></span>
				<br />
				<span>Hosted 7 nights before</span>
				<br />
				<span>Joined 16 nights before</span>
			</div>
			<img src="@Model.Night.Organisator.pfpUrl" class="img-thumbnail col-4" />
		</div>
	</section>
</div>
<div class="row">
	<section class="col">
		<h3>Games</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Game Title</th>
					<th>More Info</th>
				</tr>
			</thead>
			<tbody>
				@{
					if (@Model.Night.Games.Count == 0)
					{
						<tr><td>No games</td><td></td></tr>
					}
					foreach (Game game in @Model.Night.Games)
					{
						<tr>
							<td>@game.Name</td>
							<td>
								<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gameModal_@game.Id"><i class="fa-solid fa-info pe-2"></i>More Info</button>
								<div class="modal fade" id="gameModal_@game.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-lg">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">@game.Name</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												@await Html.PartialAsync("~/Views/Game/GameDetails.cshtml", _gameRepository.GetGameById(@game.Id))
											</div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</section>
	<section class="col">
		<h3>Snacks</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Snack</th>
					<th>Allergies</th>
				</tr>
			</thead>
			<tbody>
				@{
					if (@Model.Night.Snacks.Count == 0)
					{
						<tr><td>No snacks</td><td></td></tr>
					}
					foreach (Snack snack in @Model.Night.Snacks)
					{
						<tr>
							<td>@snack.Name</td>
							<td>
								<i class="fa-solid fa-leaf @(snack.isVegan ? "text-success" : "text-danger")"
								   data-toggle="tooltip"
								   title="@(snack.isVegan ? "Vegan" : "Not Vegan")"></i>
								<i class="fa-solid fa-seedling @(snack.isVegatarian ? "text-success" : "text-danger")"
								   data-toggle="tooltip"
								   title="@(snack.isVegatarian ? "Vegetarian" : "Not Vegetarian")"></i>
								<i class="fa-solid fa-wine-glass @(snack.isAlcoholFree ? "text-success" : "text-danger")"
								   data-toggle="tooltip"
								   title="@(snack.isAlcoholFree ? "Alcohol Free" : "Not Alcohol Free")"></i>
								<i class="fa-solid fa-wheat-awn @(snack.isGlutenFree ? "text-success" : "text-danger")"
								   data-toggle="tooltip"
								   title="@(snack.isGlutenFree ? "Gluten Free" : "Not Gluten Free")"></i>
								<i class="fa-solid fa-cow @(snack.isLactoseFree ? "text-success" : "text-danger")"
								   data-toggle="tooltip"
								   title="@(snack.isLactoseFree ? "Lactose Free" : "Not Lactose Free")"></i>
								<i class="fa-solid fa-cookie @(snack.isNutsFree ? "text-success" : "text-danger")"
								   data-toggle="tooltip"
								   title="@(snack.isNutsFree ? "Nuts Free" : "Not Nuts Free")"></i>
								@{
									var person = _accountRepository.getAccount(User.Identity.Name);
									if (snack.personId == person.Id)
									{
										<form method="post" class="d-inline" asp-controller="Snack" asp-action="RemoveSnack">
											<input type="hidden" name="snackId" value="@snack.Id" />
											<button class="btn btn-danger btn-sm float-end"><i class="fa-solid fa-trash"></i></button>
										</form>
									}
								}
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
		<a type="button" class="" data-bs-toggle="modal" data-bs-target="#allergyModal">Icons declaration</a>
		@if (@Model.Night.TakeOwnSnacks)
		{
			<button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#addSnackModal">
				<i class="fa-solid fa-plus pe-2"></i>Add Snack
			</button>
		}

		<div class="modal fade" id="allergyModal" tabindex="-1" aria-labelledby="allergyModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="allergyModalLabel">Allergy Icons</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						Vegan: <i class='fa-solid fa-leaf'></i> <br />
						Vegetarian: <i class='fa-solid fa-seedling'></i> <br />
						Alcohol Free: <i class='fa-solid fa-wine-glass'></i> <br />
						Gluten Free: <i class='fa-solid fa-wheat-awn'></i> <br />
						Lactose Free: <i class='fa-solid fa-cow'></i> <br />
						Nuts Free: <i class='fa-solid fa-cookie'></i> <br />
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="addSnackModal" tabindex="-1" aria-labelledby="addSnackModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">
						@await Html.PartialAsync("~/Views/Snack/CreateSnack.cshtml", new NewSnackModel(@Model.Night.Id))
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" id="saveSnackBtn"><i class="fa-solid fa-floppy-disk pe-2"></i>Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="col">
		<h3>Attendees</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Attendee name</th>
				</tr>
			</thead>
			<tbody>
				@{
					if (@Model.Night.Players.Count == 0)
					{
						<tr><td>No attendees</td><td></td></tr>
					}
					foreach (Person person in @Model.Night.Players)
					{
						<tr>
							<td>@person.Email</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</section>
	<section>
		<h3>Reviews:</h3>
		<div class="row gx-2">
			@* Take top 5 reviews *@
			<div class="col-lg-3">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Anonymous</h5>
						<p class="card-text">Het was een leuke avond, jammer dat het zo snel voorbij ging.</p>
						<span><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i></span>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Anonymous</h5>
						<p class="card-text">Geweldig!</p>
						<span><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i></span>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Anonymous</h5>
						<p class="card-text">Saai.</p>
						<span><i class="fa-solid fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i></span>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">Anonymous</h5>
						<p class="card-text">Kon beter, kon slechter.</p>
						<span><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-solid fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i><i class="fa-regular fa-star text-warning"></i></span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script>
	document.getElementById('saveSnackBtn').addEventListener('click', async function () {
		const addSnackForm = document.getElementById('createSnack');
		const addSnackBtn = addSnackForm.querySelector('#addSnackBtn');
		try {
			const response = await fetch('/Snack/CreateSnack', {
				method: 'POST',
				body: new FormData(addSnackForm),
			});
			console.log(response)
			if (!response.ok) {
				addSnackBtn.click();
			} else {
				$('#addSnackBtn').modal('hide');
				location.reload();
			}

		} catch (error) {
			console.log(error);
		}
	})
</script>
